/* CAIXAS */

#caixaListaItens,
#caixaNovoItem{
    width:95%;
    margin:25px auto;
    border:2px solid #1b22d3;
    border-radius:15px;
    padding:20px;
    background:white;
}

/* CABEÇALHO DA LISTA */

#cabecalhoLista{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

#tituloLista,
#tituloNovoItem{
    font-size:24px;
    font-weight:400;
    margin:0;
}

/* BOTÃO ADICIONAR */

#botaoAdicionarItem{
    background:#151fc9;
    color:white;
    border:none;
    border-radius:8px;
    padding:10px 25px;
    font-size:14px;
    cursor:pointer;
}

/* TABELA */

#tabelaItens{
    width:100%;
    border-collapse:collapse;
    border:2px solid #020994;
}

#tabelaItens th,
#tabelaItens td{
    border:2px solid #020994;
    padding:14px 18px;
    font-size:14px;
    text-align:left;
}

#tabelaItens th{
    font-weight:600;
}

/* FORMULÁRIO */

#linhaCampos1,
#linhaCampos2{
    display:flex;
    gap:25px;
    margin-top:15px;
    margin-bottom:20px;
}

.grupoCampo{
    flex:1;
}

.grupoCampo label{
    display:block;
    font-size:14px;
    font-weight:600;
    margin-bottom:8px;
}

.grupoCampo input{
    width:100%;
    height:50px;
    border:1px solid #d6d6d6;
    border-radius:8px;
    padding-left:12px;
}

/* BOTÕES */

#areaBotoes{
    display:flex;
    gap:15px;
}

#botaoSalvar{
    background:#151fc9;
    color:white;
    border:none;
    border-radius:8px;
    padding:12px 25px;
    font-size:14px;
    cursor:pointer;
}

#botaoCancelar{
    background:white;
    border:1px solid #c0c0c0;
    border-radius:8px;
    padding:12px 25px;
    font-size:14px;
    cursor:pointer;
}

/* BOTÃO ADICIONAR ITEM */
#botaoAdicionarItem:hover{
    background:#0d16a8;
    transform:translateY(-2px);
    transition:0.3s;
}

/* BOTÃO SALVAR */
#botaoSalvar:hover{
    background:#0d16a8;
    transform:translateY(-2px);
    transition:0.3s;
}

/* BOTÃO CANCELAR */
#botaoCancelar:hover{
    background:#beb6b6;
    border-color:#999;
    transition:0.3s;
}

/* ABAS DO MENU */
#abaPaginaInicial:hover,
#abaEditarItens:hover{
    color:#151fc9;
    transition:0.3s;
}

#abaNovoItem:hover{
    background:#0d16a8;
    transition:0.3s;
}
/* TODOS OS BOTÕES */
#paginainicial,
#editaritens,
#novoitem{
    color: black;
    font-weight: bold;
    text-decoration: none;

    padding: 15px 28px;
    border-radius: 12px;

    transition: 0.3s;
}

/* HOVER */
#paginainicial:hover,
#editaritens:hover,
#novoitem:hover{
    background-color:rgb(60, 63, 214);
    color: white;
}

/* BOTÃO ATIVO - EDITAR ITENS */
#editaritens{
    background-color: rgb(10, 13, 175);
    color: white !important;

    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

/* CLIQUE */
#paginainicial:active,
#editaritens:active,
#novoitem:active{
    transform: scale(0.95);
}
#paginainicial,
#editaritens,
#novoitem{
   padding: 12px 28px;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
}

#listaNavbar{
    display: flex;
    align-items: center;
    gap: 100px; /* espaço entre os itens */
}

#paginainicial{
    margin-right: 10px;
}

#editaritens{
    margin-right: 10px;
}

#logo{
    position: absolute;
    margin-top: -13px;
    left: 5px;
}

/* Move a lista inteira dos menus */
.navbar-nav {
    margin-left: 200px; /* empurra tudo para a direita */
}

/* Página inicial */
#paginainicial {
    position: relative;
    left: 23px; /* direita */
    top: 10px;  /* baixo */
}

/* Editar itens */
#editaritens {
    position: relative;
    left: 26px;
    top: 10px;
}

/* Novo item */
#novoitem {
    position: relative;
    left: 28px;
    top: 10px;
}

#logo{
    position: absolute; 
    top: 1px;
    left: 80px;         
    left: 20px;   
    z-index: 9999;      
}