#cachorro{
   position: absolute;
    top: 500px;
    left: 240px;
    border: 2px solid darkblue; 
    border-radius: 5px;
}

#cachorro2 {
    position: absolute;
    top: 550px;
    left: 240px;
    border: 2px solid darkblue; 
    border-radius: 5px;
}



#botao{
    position: absolute;
    top: 600px;
    left: 240px;

    border-radius: 5px;
    border-color: darkblue;
    border-style: solid;
    border-width: 2px;

    background-color: rgb(7, 27, 138);
    color: rgb(255, 255, 255);

    transition: 0.2s;
    cursor: pointer;
}

#botao:hover{
    background-color: rgb(0, 57, 163);
}
#botao:active{
    transform: scale(0.95);
    background-color: rgb(94, 151, 204);
}

#logosenai{
    position: absolute;
    top:250px;
    left: 140px
}

#fundoindex{
    position: absolute;
    top:0px;
    left: 900px
}

/* TABELA */
#tabela{
    width: 100%;
    position: absolute;
    top: 150px;
    left: 5px;
    border: 3px solid rgb(10, 13, 175);
}

#tabela th,
#tabela td{
    border: 2px solid rgb(10, 13, 175);
}


/* BOTÃO PESQUISAR */
#Pesquisar{
    width: 100px;
    padding: 10px;

    background-color: rgb(10, 13, 175);
    color: white; /* texto branco */

    border: 2px solid black;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.3s;

    position: relative;
    left: 15px;
}

#Pesquisar:hover{
    background-color: rgb(40, 44, 220);
    color: white;
}

#Pesquisar:active{
    transform: scale(0.95);
    background-color: black;
    color: white;
}


/* CAMPO DE PESQUISA */
#Pesquisa{
    width: 500px;
    position: relative;
    left: -30px;
}


/* LOGO */
#logo{
    position: absolute;
    top: -85px;
    left: 20px;
}


/* LINKS DO MENU */
#linkPaginaInicial{
    margin-left: 290px;
    top: 60px;
}
