<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styleditar.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" id="paginainicial" href="/estoque.html" >Pagina Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="editaritens" href="/editar.html">Editar itens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="novoitem" href="novoitem.html">Novo item</a>
          <img
          id="logo"
          src="static/logod.png"
          alt="Logo Customizado"
          width="180"
          height="140">
        </li>
        
        <li id="CadastroUsuario" class="nav-item" style="position: relative; top: 10px;">
          <a  class="nav-link" id="usuarios" href="usuarios.html">Cadastro de usuários</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
    
    <div id="containerEditar">

    
    </p>

    <!-- TABELA -->
    <div id="caixaTabela">

        <h3>Lista de Itens</h3>

        <table id="tabelaEditar">

            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Preço</th>

            </tr>

     {% for item in resultado %}
<tr onclick="selecionarItem(this)"> 

    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[7]}}</td>
    <td>{{item[4]}}</td>


</tr>
{% endfor %}

        </table>

    </div>

    <!-- FORMULÁRIO -->
    <div id="caixaFormulario">

        <h3>Informações do Item</h3>

        <form method="POST" action="/salvar_edicao">

<div class="linha">

   

    <div class="campo">
        <label>Nome</label>
        <input type="text" id="nomeItem" name="nome">
    </div>

</div>

<div class="linha">

    <div class="campo">
        <label>Função</label>
        <input type="text" id="funcaoItem" name="descricao">
    </div>

    <div class="campo">
        <label>Quantidade</label>
        <input type="number" id="quantidadeItem" name="qtde">
    </div>

 <div class="campo">
        <label>Categoria</label>
        <input type="text" id="categoriaItem" name="categoria">
    </div>

     <div class="campo">
        <label>Preço</label>
        <input type="number" id="precoItem" name="preco">
    </div>

</div>
        <div id="botoes">

            <button id="btnSalvar" type="submit">
                Salvar Alterações
            </button>

            <button id="btnExcluir" type="submit" formaction="/deletar">
                Excluir Item
            </button>

            <button id="btnLimpar">
                Limpar Campos
            </button>

        </div>
     </form>

    </div>

</div>


<script>

function selecionarItem(linha){

   
    document.getElementById("nomeItem").value =
        linha.cells[1].innerText;

    document.getElementById("funcaoItem").value =
        linha.cells[2].innerText;

    document.getElementById("quantidadeItem").value =
        linha.cells[3].innerText;
    
    document.getElementById("categoriaItem").value =
        linha.cells[4].innerText;

    document.getElementById("precoItem").value =
        linha.cells[5].innerText;
}


</script>

</body>
</html>