<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

  
<nav id="navbarPrincipal" class="navbar navbar-expand-lg navbar-light bg-light">

  <button id="botaoMenu"
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#menuNavbar">

    <span id="iconeMenu" class="navbar-toggler-icon"></span>
  </button>

  <div id="menuNavbar" class="collapse navbar-collapse">

    <ul id="listaNavbar" class="navbar-nav">

      <!-- Página Inicial -->
      <li id="itemPaginaInicial" class="nav-item">
        <a id="linkPaginaInicial" class="nav-link" href="#">
          Página Inicial
        </a>
      </li>

      <!-- Editar Itens -->
      <li id="itemEditarItens" class="nav-item">
        <a id="linkEditarItens" class="nav-link" href="#">
          Editar Itens
        </a>
      </li>

      <!-- Novo Item -->
      <li id="itemNovoItem" class="nav-item">
        <a id="linkNovoItem" class="nav-link" href="#">
          Novo Item
        </a>
      </li>

      <!-- Usuários (Dropdown) -->
      <li id="itemUsuarios" class="nav-item dropdown">

        <a id="linkUsuarios"
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown">

          Usuários
        </a>

        <div id="menuUsuarios" class="dropdown-menu">

          <a id="usuarioAdmin" class="dropdown-item" href="#">
            Administrador
          </a>

          <a id="usuarioFuncionarios" class="dropdown-item" href="#">
            Funcionários
          </a>

          <a id="usuarioConvidados" class="dropdown-item" href="#">
            Convidados
          </a>

        </div>
      </li>

    </ul>
  </div>
</nav>


<table id="tabela" class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Função</th>
      <th scope="col">Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">190609</th>
      <td>Alicate</td>
      <td>Apertar coisas</td>
      <td>30</td>
    </tr>
    <tr>
      <th scope="row">100109</th>
      <td>Parafusadeira</td>
      <td>Parafusar</td>
      <td>5</td>
    </tr>
    <tr>
      <th scope="row">090708</th>
      <td>Prego</td>
      <td>Pregar</td>
      <td>500</td>
    </tr>
  </tbody>
</table>

<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img id="logo"  src="static/logo.png" alt="Logo Customizado" width="169" height="62">
    </a>
  </div> 
   
  <form id='Pesquisa' class="d-flex" role="Pesquisa">
      <input class="form-control me-2" type="Pesquisa" placeholder="Pesquisa" aria-label="Pesquisa"/>
      <button id="Pesquisar" class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>



</body>
</html>